<ion-header>
  <ion-toolbar color="primary" class="toolbar-with-margins">
    <ion-title class="center-title">
      ANDRES RICARDO PARRA SALAS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" routerLink="/login">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="block block-1" style="margin-top: 20px;">
          <img src="assets/ricardo.jpg" style="border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">
        </div>
      </ion-col>
    </ion-row>
    <br>

    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: black; font-weight: bold; text-shadow: 1px 1px 1px white;">Perfil</p>
          </ion-toolbar>
          <div class="block-content">
            <br>
            <p style="text-align: justify; margin-left: 100px; margin-right: 100px;">
              Soy una persona altamente responsable y comprometida con mi trabajo. Tengo habilidades destacadas para el trabajo en equipo y disfruto colaborar con otros para lograr objetivos comunes. Mi facilidad de aprendizaje me permite adquirir rápidamente nuevos conocimientos y adaptarme a diferentes situaciones. Soy proactivo y siempre estoy dispuesto a asumir nuevos desafíos. Además, tengo una actitud positiva y constructiva, lo que me permite contribuir de manera efectiva al ambiente de trabajo.
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="block" style="margin-top: 20px;">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: black; font-weight: bold; text-shadow: 1px 1px 1px white;">Datos Personales</p>
          </ion-toolbar>

          <table style="margin-top: 20px;">
            <tr>
              <td style="text-align: left; width: 600px;">Nombre:</td>
              <td style="text-align: left">
                Andres Ricardo Parra Salas
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Documento de Identidad:</td>
              <td style="text-align: left">
                1.032.431.026
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Fecha de Nacimiento:</td>
              <td style="text-align: left">
               03 de agosto de 1989
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Lugar de Nacimiento:</td>
              <td style="text-align: left">
                Bogotá Distrito Capital
              </td>
              <br>
              <tr>
                <td style="text-align: left">Dirección:</td>
                <td style="text-align: left">
                  Diagonal 69 G Bis sur N° 40 A 21
                </td>
                <br>
                <br>
                <br>
                <tr>
                  <td style="text-align: left">Teléfono:</td>
                  <td style="text-align: left">
                    3228620950
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left">Email:</td>
                  <td style="text-align: left">
                    <span style="text-decoration: underline; color: #7dc1ff;">Helloween.one@gmail.com</span>
                  </td>
                  <br>
                  <br>
                  <br>
                </tr>
          </table>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="block" style="margin-top: 20px;">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: black; font-weight: bold; text-shadow: 1px 1px 1px white;">Formación Académica</p>
          </ion-toolbar>

          <table style="margin-top: 20px;">
            <tr>
              <td style="text-align: left; width: 550px;">Universitarios:</td>
              <td style="text-align: left">
                Servicio Nacional de Aprendizaje (SENA)<br>Análisis y Desarrollo de Software<br>En curso

              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Universitarios:</td>
              <td style="text-align: left">
                Fundación Centro de Investigación<br>(CIDCA)<br>Tecnólogo en Telecomunicaciones<br>Culminado
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Estudios Secundarios:</td>
              <td style="text-align: left">
                I.E.D.Arborizadora Alta<br>Sede: A<br>2001-2006
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Estudios Primarios:</td>
              <td style="text-align: left">
                I.E.D. Arborizadora Alta<br>Sede: A<br>1995-2000
              </td>
              <br>
              <br>
                </tr>
          </table>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="block" style="margin-top: 20px;">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: black; font-weight: bold; text-shadow: 1px 1px 1px white;">Experiencia Laboral</p>
          </ion-toolbar>
          <p style="font-size: 20px; color: white; font-weight: bold;">COLOMBIA MOVIL S.A ESP (TIGO)</p>

          <table style="margin-top: 20px;">
            <tr>
              <td style="text-align: left; width: 470px;">Cargo:</td>
              <td style="text-align: left">
                Asistente de Movilidad
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Funciones:</td>
              <td style="text-align: left">
               In-House técnico en sede para el cliente Acueducto
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Jefe Inmediato:</td>
              <td style="text-align: left">
                Juan David Quitian
              </td>
              <br>
              <tr>
                <td style="text-align: left">Telefono:</td>
                <td style="text-align: left">
                  3148774398
                </td>
                <br>
                <br>
                <br>
          </table>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <br>

    <ion-row>
      <ion-col>
        <div class="block">
          <div class="button-container">
            <div class="left-button">
              <input type="radio" id="menu1-radio" class="menu-radio" name="menu-radio">
              <label for="menu1-radio" class="menu-button">Proyectos</label>
              <div class="menu" id="menu1">
                <ul class="project-list">
                  <li>
                    <input type="radio" id="proyecto1-radio" class="menu-radio" name="proyecto-radio">
                    <label for="proyecto1-radio">Certificado Ingles</label>
                    <div class="pdf-container">
                      <embed class="pdf-object" src="assets/CERTIFICADO CURSO INGLES.pdf" type="application/pdf">
                    </div>
                  </li>
                  <li>
                    <input type="radio" id="proyecto2-radio" class="menu-radio" name="proyecto-radio">
                    <label for="proyecto2-radio">Mantenimiento en Computadores</label>
                    <div class="pdf-container">
                      <embed class="pdf-object" src="assets/CURSO MANTENIMIENTO DE COMPUTADORES.pdf" type="application/pdf">
                    </div>
                  </li>
                  <li>
                    <input type="radio" id="proyecto3-radio" class="menu-radio" name="proyecto-radio">
                    <label for="proyecto3-radio">Tecnologo en Telecumunicaciones</label>
                    <div class="pdf-container">
                      <embed class="pdf-object" src="assets/TECNOLOGO EN TELECOMUNICACIONES.pdf" type="application/pdf">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="right-button">
              <input type="radio" id="menu2-radio" class="menu-radio" name="menu-radio">
              <label for="menu2-radio" class="menu-button">Multimedia</label>
              <div class="menu" id="menu2">
                <div class="image-container">
                  <video src="assets/Aerosmith  I Dont Want Miss a Thing.mp4" width="200" height="259"
                    controls="controls" poster="vistaprevia.jpg"
                    style="border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);"></video>
                  <img src="assets/metal.jpg" alt="Imagen 2"
                    style="width: 200px; height: 259px;border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">
                  <video src="assets/WhiteLion. Broken Heart.mp4" width="200" height="259" controls="controls"
                    poster="vistaprevia.jpg"
                    style="border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);"></video>
                  <img src="assets/metal2.jpg" alt="Imagen 2"
                    style="width: 200px; height: 259px;border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">
                  <video src="assets/Saratoga. Acuerdate de Mi.mp4" width="200" height="259" controls="controls"
                    poster="vistaprevia.jpg"
                    style="border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);"></video>
                  <img src="assets/metal3.jpg" alt="Imagen 2"
                    style="width: 200px; height: 259px; border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <br>


  </ion-grid>
</ion-content>
